services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mern-backend
    ports:
      - "5000:5000"
    env_file:
      - backend/config/config.env
    depends_on:
      - mongo

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: mern-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: mern-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
